<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Analisis:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="analisis2 in analisis">
        <li><a tooltip="PUTO">{{analisis2.paciente}}<span class="glyphicon glyphicon-trash pull-right" ng-click="deleteAnalisis(analisis2)"></span><span ng-click="editAnalisis(analisis2)" class="glyphicon glyphicon-pencil pull-right"></span></a>
        </li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="paciente" ng-model="paciente">
    </p>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="labtest" ng-model="labtests">
    </p>
    <span class="input-group-btn">
    	<div>
    		<button type="submit" class="btn btn-primary" ng-click="addAnalisis()">Add New</button>
    	</div>
        <!--
        <div ng-if="edit == true">
        	<button type="submit" class="btn btn-primary" ng-click="save(labtest)">Editar</button>
        	<button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
		-->
      </span>

    
  </form>
</div>